<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer!</h1>
    <form method="POST">
    <h1>Input Phrase:  <input type="text" name="user_phrase"></h1>
      <input type="Submit">
    </form>
  </body>
</html>
